h1 {
    text-align: center;
    font-family:sans-serif, 'Times New Roman', Times, serif;
    color: #fff;
  }

  body {
    background: #333333
  }
  #todo-list {
    width: 500px;
    margin: 60px auto;
  }
  form, .todo {
    border: 1px solid #FFA500;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  form input {
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 16px;
  }
  .todo {
    display: flex;
    flex-direction: column;
  }
    
  button {
    font-size: 16px;
    background-color: #1E90FF;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: #4F9EFF;
  }
  button:active {
    background-color: #4F9EFF;
  }
  button:focus {
    outline: 0;
  }
  input[type='text'] { font-size: 20px; font-family: monospace; }
  .todo input[type="checkbox"] {
    transform: scale(1.8) translateY(1px);
    margin: 0 16px 0 0;
    cursor: pointer;
  }
  .todo-text input {
    padding: 4px;
  }

  .table-header {
    display: flex;
    color: #fff;
    font-weight: bold;
    justify-content: space-between;
    padding: 0 20px;
  }
  .todo-text {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 1cm;
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .todo-completed {
    display: flex;
    margin: 10px 0;
  }
  .todo-actions {
    display: flex;
    gap: 20px;
  }

  #completed {
    margin-left: 15px;
  }

  .todo-subject {
    color: #fff;
  }

